In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
dataset = pd.read_csv('50_Startups.csv')
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
classes = pd.get_dummies(dataset['State'], prefix='State', drop_first=True)
classes.head()

   State_Florida  State_New York
0              0               1
1              0               0
2              1               0
3              0               1
4              1               0

In [5]:
dataset.drop(['State'], axis=1, inplace=True)
dataset = pd.concat([dataset,classes], axis=1)

dataset.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,1
1,162597.70,151377.59,443898.53,191792.06,0,0
2,153441.51,101145.55,407934.54,191050.39,1,0
3,144372.41,118671.85,383199.62,182901.99,0,1
4,142107.34,91391.77,366168.42,166187.94,1,0

In [6]:
X = dataset.drop(['Profit'], axis=1)
y = dataset['Profit']

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [10]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [11]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9347068473282424